// clearfix
.clearfix() {
	&:before,
	&:after {
		content: " ";
		display: table;
	}
	&:after {
		clear: both;
	}
}



//  box sizing border-box
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


// defaults
.row, .container {
	.clearfix;
}

// grid function
.mdgrid(@prefix:desktop-, @total-columns:12, @column-width:60px, @gutter-width:20px) {

	// calculate total width of the container
	@total-width: (@column-width * @total-columns) + (@total-columns - 1) * @gutter-width;

	[class*="@{prefix}"] {
		float: left;
		min-height: 1px; // prevent collapsing columns
		margin-left: (@gutter-width);
	}

	// loop generate column names and values
	.generateCols (@index) when (@index >= 0) {
		.@{prefix}@{index} {
			width: (@column-width * @index) + (@index - 1) * @gutter-width;
		}

		.generateCols(@index - 1);
	}
	.generateCols(@total-columns);

	// loop generate offset names and values
	.generateOffsets (@index) when (@index >= 0) {
		.@{prefix}offset-@{index} {
			margin-left: (@column-width * @index) + (@gutter-width * (@index + 1));
		}

		.generateOffsets(@index - 1);
	}
	.generateOffsets(@total-columns);

	// create container class
	.container {
		width: @total-width;
		margin:0 auto;
	}

	// create row class
	.row {
		margin-left: -(@gutter-width);
	}
}

